/*
You will style your page using at least 10 CSS rule-sets for general CSS styling. You will place the CSS in this file.

You must style the is-odd class to make text have a color of #0000FF and is-even class to make text have a color of #FF0000. Both is-odd and is-even should also be bold (these can count as 2 of your 10 rule-sets) 
*/
