{{!--

login form handlebar template

--}}
<h1>Sign In</h1>
{{#if error}}
    <div class="error">
        {{error}}
    </div>
{{/if}}
<main class="page-format">
    <form id="signin-form" method="POST" action="/login">
        <div class="form-format">
            <label for="userId">User ID:</label>
            <input type="text" id="userId" name="userId" required>
        </div>

        <div class="form-format">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <button type="submit" id="submit_button" name="submit_button">Sign In</button>
        </div>
    </form>
    <p><a href="/register">Click here to signup!</a></p>
</main>
    