<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
 
This page will respond with a valid HTML document. The title of the document should be "Marvel Universe Character Search". You should have the title set as the <title> element of the HTML document and as an h1 in your document.

Your page should reference a CSS file, /public/main.css; this file should have at least 10 rulesets you must use at least 5 of them on this page. 

You should have a main element, and inside of the main element have a p element with a brief (2-3 sentence description) of what your website does.

Also inside the main element, you will have a form; this form will POST to /searchmarveluniverse. This form will have an input and a label; You will give the input a name AND id attribute of "searchByCharactersName".  The label should properly reference the same id as the input. You should also have an input with a type of submit that submits the form (DO not use a button, you MUST use an input with type="submit"). 
 -->


<h1 class= "title">{{title}}</h1>
<main class="home-format">
    <p class="paragraph-style">
        This site utilizes the Marvel API to provide the user with information about Marvel characters. This site is built using HTML, CSS, Express, and uses Handlebars to create pages and handle routing. This is an exciting project using APIs to get information about Marvel characters.
    </p>
    <form action="/searchmarveluniverse" method="post">
        <label class="search-request" for="searchByCharactersName">Search for a character by name:</label>   
        <input name="searchByCharactersName" id="searchByCharactersName" type="text" required> 
        <input type="submit" value="Search" class="button">
    </form>
</main>